.card1 {
    width: 360px;
    margin: 20px;
    outline: 1px solid salmon;
}

.card1-inner {
    position: relative;
}

.timestamp {
    position: absolute;
    left: 16px;
    top: 16px;
    border-radius: 4px;
    background: #2A282F;
    color: #FFFFFF;
    padding: 4px 8px;
    font-family: "Inter",sans-serif;
}


.card-text{
    color: rgba(0, 0, 0, 0.50);
    /* Title 2 */
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.56px;
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.56px;
}



.card-title{
    color: var(--Gray-1, #FFF);
    /* Title 1 */
    font-family: Inter;
    font-size: 16px;
    
    font-weight: 600;
    
    letter-spacing: -0.04em;
        
}

.img1{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: var(--gray-7-overlay, rgba(42, 40, 47, 0.80));
    backdrop-filter: blur(18px);
}


.card2 {
    height: 320px;
    outline: 1px solid salmon;
    display: inline-block;
}





